body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(hsla(0, 0%, 0%, 0.75), rgba(0, 0, 0, 0.85)), url(assets/img/background2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}